<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.eltonjhony.enjoeiapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".EnjoeiApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_enjoei"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_enjoei_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".presentation.home.HomeActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".presentation.productdetails.ProductDetailsActivity"
                  android:screenOrientation="portrait" android:label="">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".presentation.productdetails.ProductDetailsActivity" />
        </activity>
        <activity android:name=".presentation.promotions.PromotionsActivity"
                android:theme="@style/Theme.AppCompat"
                android:label="@string/promotions_title">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                    android:value=".presentation.home.HomeActivity" />
        </activity>
    </application>

</manifest>